{
    "env": {
      "browser": true,
      "es6": true,
      "node": true,
      "jest": true
    },
    "extends": [
      "airbnb",
      "react-app",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:prettier/recommended",
      "prettier/react"
    ],
    "settings": {
      "import/resolver": {
        "node": {
          "moduleDirectory": [
            "node_modules",
            "src/"
          ]
        }
      }
    },
    "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
    },
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "plugins": [
      "react",
      "react-hooks",
      "prettier"
    ],
    "rules": {
      "consistent-return": "error",
      "no-param-reassign": "error",
      "curly": [
        "error",
        "multi-line"
      ],
      "import/prefer-default-export": "off",
      "react/jsx-fragments": "off",
      "react/jsx-props-no-spreading": "off",
      "import/no-unresolved": [
        2,
        {
          "commonjs": true
        }
      ],
      "no-shadow": [
        "error",
        {
          "allow": [
            "req",
            "res",
            "err"
          ]
        }
      ],
      "valid-jsdoc": [
        "error",
        {
          "requireReturn": true,
          "requireReturnType": true,
          "requireParamDescription": false,
          "requireReturnDescription": true
        }
      ],
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn"
    }
  }
  